.navbar {
  position: sticky;
  top: 0px;
  left: 0px;
  background: url("../Images/1014.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  display: flex;
  gap: 25px;
  padding: 12px var(--position-nav-elements);
  font-size: 23px;
  border-top: 2px solid rgb(8, 8, 102, 0.5);
  border-bottom: 2px solid rgb(8, 8, 102, 0.5);
}
.active {
  color: grey;
  transform: scale(1.3);
}

.navelement:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.active:hover {
  transform: scale(1.3);
}
.icon {
  display: none;
}
@media (max-width: 900px) {
  .navbar {
    justify-content: center;
  }
}
@media (max-width: 450px) {
  .navbar {
    gap: 10px;
    font-size: 20px;
    padding: 7px;
  }
  .active {
    color: grey;
    transform: scale(1);
  }
  .active:hover {
    transform: scale(1.1);
  }
}
